.Chat-main
  .group-info
    .group-info__left
      .group-info__left__group-name
        = @group.name
      .group-info__left__group-member
        Member:
        %ul.group-info__left__group-member__userlist
          - @group.users.each do |user|
            %li.group-info__left__group-member__userlist__user= user.name

    .group-info__right
      = link_to edit_group_path(@group), class: "group-info__right__edit" do
        Edit

  .message-list
    = render @messages
    
  .message-form
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .new-message__input-box
        = f.text_field :content, class: 'new-message__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'new-message__input-box__image' do
          = icon('far', 'image', class: 'new-message__input-box__image__icon')
          = f.file_field :image, class: 'new-message__input-box__image__file'
      = f.submit 'Send', class: 'new-message__submit-btn'